{
    # C'est la ligne qui sauve tout :
    # Si le client (Windows) ne dit pas qui il veut voir, Caddy lui servira ce site par défaut.
    default_sni 192.168.1.165
}

# =======================================================
# 1. BLOC ACCÈS LOCAL (Pour votre dev personnel)
# =======================================================
monapi.dev {
    tls internal
    reverse_proxy api:3001
}


# =======================================================
# 2. API PUBLIQUE (Pour les utilisateurs finaux)
# =======================================================
gauzian.pupin.fr {
    # Caddy s'occupe du certificat Let's Encrypt.
    # Il utilise le port 80 pour la validation et le 443 pour le service.
    # Proxy des appels API vers le service `api`.
    
    handle_path /api/* {
        reverse_proxy api:3000
    }

    # Tout le reste est servi par Next.js
    handle {
        reverse_proxy nextjs:3001
    }
}
