[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 192.168.1.165

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.1.165
IP.2 = 192.168.1.74
DNS.1 = localhost
DNS.2 = 127.0.0.1