gauzian_back/.env
gauzian_back/target/
gauzian_back/k8s/secrets.yaml
node_modules/
sqlmap_reports/

# IDEs
.idea/
.vscode/
# Artefacts frontend (node_modules, build artifacts)
gauzian_front/
.nuxt/
.output/