# Pour le dev local : localhost
# Pour la prod : remplace par ton domaine (ex: api.monapp.com)
{
    email gael@pupin.fr
}
gauzian.pupin.fr {

    # CONFIGURATION DU RATE LIMIT
    rate_limit {
        # On définit une zone nommée "ip_limit"
        zone ip_limit {
            # La clé est l'IP réelle du client
            key {client_ip}
            events 50
            window 1s
        }
    }
    
    # MinIO S3 Storage Console
    handle_path /minio/* {
        reverse_proxy minio:9001 {
            header_up Host {host}
            header_up X-Real-IP {client_ip}
            header_up X-Forwarded-For {client_ip}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # MinIO S3 API
    handle_path /s3/* {
        reverse_proxy minio:9000 {
            header_up Host {host}
            header_up X-Real-IP {client_ip}
            header_up X-Forwarded-For {client_ip}
            header_up X-Forwarded-Proto {scheme}
        }
    }
    
    # Routes API
    handle_path /api/* {
        reverse_proxy backend:3000 {
            header_up Host {host}
            header_up X-Real-IP {client_ip}
            header_up X-Forwarded-For {client_ip}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # Par défaut, tout le reste va vers le front
    handle {
        reverse_proxy front:3000
    }
}

http://localhost, http://127.0.0.1 {

    # CONFIGURATION DU RATE LIMIT
    rate_limit {
        zone ip_limit {
            key {client_ip}
            events 50
            window 1s
        }
    }
    
    # Routes API
    handle_path /api/* {
        reverse_proxy backend:3000 {
            header_up Host {host}
            header_up X-Real-IP {client_ip}
            header_up X-Forwarded-For {client_ip}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # Par défaut, tout le reste va vers le front
    handle {
        reverse_proxy front:3000
    }
}