prometheus:
  prometheusSpec:
    retention: 30d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
    # Optionnel : ressources CPU/RAM
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 4Gi

grafana:
  adminPassword: "1$OTUxYTQ4ZjA0Yjg3YjdlODE1Njg3ZjUyZGFhOGYwZDc$dOoEcs/anwk5qMP5cksSv2SOI2AgWbFdXuCjKHjxCmk" # ⚠️ CHANGE CE MDP
  persistence:
    enabled: true
    size: 10Gi
  ingress:
    enabled: false # On utilise Traefik IngressRoute à la place

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
