apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: gauzian
data:
  Caddyfile: |
  {
    email gael@pupin.fr
  }

  gauzian.pupin.fr {
    rate_limit {
      zone ip_limit {
        key {client_ip}
        events 50
        window 1s
      }
    }

    handle_path /minio/* {
      reverse_proxy minio:9001 {
        header_up Host minio:9001
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto https
      }
    }

    handle_path /s3/* {
      reverse_proxy minio:9000 {
        header_up Host minio:9000
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto https
      }
    }

    handle_path /api/* {
      reverse_proxy backend:3000 {
        header_up Host {host}
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto {scheme}
      }
    }

    handle {
      reverse_proxy front:3000
    }
  }

  http://localhost, http://127.0.0.1 {
    rate_limit {
      zone ip_limit {
        key {client_ip}
        events 50
        window 1s
      }
    }

    handle_path /api/* {
      reverse_proxy backend:3000 {
        header_up Host {host}
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto {scheme}
      }
    }

    handle {
      reverse_proxy front:3000
    }
  }

  :80 {
    rate_limit {
      zone ip_limit {
        key {client_ip}
        events 50
        window 1s
      }
    }

    handle_path /api/* {
      reverse_proxy backend:3000 {
        header_up Host {host}
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto {scheme}
      }
    }

    handle_path /minio/* {
      reverse_proxy minio:9001 {
        header_up Host minio:9001
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto https
      }
    }

    handle_path /s3/* {
      reverse_proxy minio:9000 {
        header_up Host minio:9000
        header_up X-Real-IP {client_ip}
        header_up X-Forwarded-For {client_ip}
        header_up X-Forwarded-Proto https
      }
    }

    handle {
      reverse_proxy front:3000
    }
  }
