apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-https
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.gauzian.pupin.fr`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: gauzian-v2
      services:
        - name: grafana
          port: 3000
  tls:
    certResolver: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-http
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.gauzian.pupin.fr`)
      kind: Rule
      middlewares:
        - name: redirect-https
          namespace: gauzian-v2
      services:
        - name: grafana
          port: 3000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus-https
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prometheus.gauzian.pupin.fr`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: gauzian-v2
      services:
        - name: prometheus
          port: 9090
  tls:
    certResolver: letsencrypt
