apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gauzian

resources:
  - namespace.yaml
  - secrets.yaml
  - postgres-pvc.yaml
  - postgres-deployment.yaml
  - redis-pvc.yaml
  - redis-deployment.yaml
  - minio-pvc.yaml
  - minio-deployment.yaml
  - backend-deployment.yaml
  - caddy-configmap.yaml
  - caddy-deployment.yaml
  - front-deployment.yaml
