apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-api-prefix
  namespace: gauzian-v2
spec:
  stripPrefix:
    prefixes:
      - /api
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-s3-prefix
  namespace: gauzian-v2
spec:
  stripPrefix:
    prefixes:
      - /s3
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rate-limit-50-per-1s
  namespace: gauzian-v2
spec:
  rateLimit:
    average: 50
    period: 1s
    burst: 10
