apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: kube-system
data:
  traefik.yaml: |
    certificatesResolvers:
      letsencrypt:
        acme:
          email: gael@pupin.fr
          storage: /data/acme.json
          httpChallenge:
            entryPoint: web
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
      websecure:
        address: ":443"
        http:
          tls:
            certResolver: letsencrypt
