* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --dark-color: #0B1120;
  --dark-gray-color: #334155;
  --light-gray-color: #E2E8F0;
  --colored-orange-gray-color: #ebedf1;
  --orange-color: #F97316;
  --light-orange-color: #FDBA74;
  --ultra-light-orange-color: #FFF7ED;
  --emmerald-color: #10B981;
  --white-color: #F8FAFC;
}

body {
  background-color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
